################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiniEngine/ModelViewer/ModelViewer_VS14.VC.db
*.pch
*.pdb
*.tlog
*.db
*.obj
*.log
